{% extends "::baseCharisma.html.twig" %}
{% block content %}
 <div class="row-fluid">
	<a data-rel="tooltip" class="well span3 top-block" href="{{ path('dicars_ventas_homepage') }}">
		<span class="icon32 icon-color icon-cart"></span>
		<div>Ventas</div>
	</a>

	<a data-rel="tooltip" class="well span3 top-block" href="{{ path('dicars_logistica_homepage') }}">
		<span class="icon32 icon-color icon-gear"></span>
		<div>Logística</div>
	</a>

	<a data-rel="tooltip" class="well span3 top-block" href="{{ path('dicars_admin_homepage') }}">
		<span class="icon32 icon-color icon-users"></span>
		<div>Administración</div>
	</a>
	<a data-rel="tooltip" class="well span3 top-block" href="{{ path('dicars_ventas_regimp_tarjetacredito') }}">
		<span class="icon32 icon-color icon-document"></span>
		<div>Reportes</div>
	</a>	
</div>
{% endblock %}