<div class="modal hide fade" id="modalBuscarProducto">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Productos</h3>
	</div>
	<div class="modal-body">
		<table class="table table-striped table-bordered bootstrap-datatable datatable">
		  <thead>
			  <tr>
				  <th>Código</th>
				  <th>Nombre del Producto</th>
				  <th>Stock</th>
				  <th>Precio</th>
			  </tr>
		  </thead>   
		  <tbody>
			<tr>
				<td>David R</td>
				<td class="center">2012/01/01</td>
				<td class="center">Member</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>
			</tr>
			<tr>
				<td>Chris Jack</td>
				<td class="center">2012/01/01</td>
				<td class="center">Member</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>
			</tr>
			<tr>
				<td>Jack Chris</td>
				<td class="center">2012/01/01</td>
				<td class="center">Member</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>
			</tr>
			<tr>
				<td>Muhammad Usman</td>
				<td class="center">2012/01/01</td>
				<td class="center">Member</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>
			</tr>
			<tr>
				<td>Sheikh Heera</td>
				<td class="center">2012/02/01</td>
				<td class="center">Staff</td>
				<td class="center">
					<span class="label label-important">Banned</span>
				</td>
			</tr>
			<tr>
				<td>Helen Garner</td>
				<td class="center">2012/02/01</td>
				<td class="center">Staff</td>
				<td class="center">
					<span class="label label-important">Banned</span>
				</td>
			</tr>
			<tr>
				<td>Saruar Ahmed</td>
				<td class="center">2012/03/01</td>
				<td class="center">Member</td>
				<td class="center">
					<span class="label label-warning">Pending</span>
				</td>
			</tr>
			<tr>
				<td>Ahemd Saruar</td>
				<td class="center">2012/03/01</td>
				<td class="center">Member</td>
				<td class="center">
					<span class="label label-warning">Pending</span>
				</td>
			</tr>
			<tr>
				<td>Habib Rizwan</td>
				<td class="center">2012/01/21</td>
				<td class="center">Staff</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>
			</tr>
			<tr>
				<td>Rizwan Habib</td>
				<td class="center">2012/01/21</td>
				<td class="center">Staff</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>
			</tr>
		  </tbody>
	  </table>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		<a href="#" class="btn btn-primary">Seleccionar</a>
		<a class="btn btn-primary btn-nuevo">Nuevo</a>
	</div>
</div>