{% extends "::baseCharisma.html.twig" %}
{% block title %}Clientes - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes_dm')}}">Clientes Deudores y Morosos</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>DEUDORES Y MOROSOS</h2>
		</div>
		<div class="box-content">
			<table id="deudores_table" class="table table-striped table-bordered bootstrap-datatable datatable">
			  <thead>
				  <tr>
					  <th>Nombres y Apellidos</th>
					  <th>DNI</th>
					  <th>Zona</th>
					  <th>Dirección</th>
					  <th>Total Crédito</th>
					  <th>Total Pago Realizado</th>
					  <th>Saldo</th>
					  <th>Estado</th>
					  <th>Responsable</th>
				  </tr>
			  </thead>
		  </table>        
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script type="text/javascript">
//mostrar Ver Datos------------------------------------>
$('.btn-datos').click(function(e){
	e.preventDefault();
	$('#modalVerDatos').modal('show');
});
</script>
{% endblock %}