{% extends "::baseCharisma.html.twig" %}
{% block title %}Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a>
</li>
{% endblock %}
{% block content %}
 Vista Principal de Ventas
{% endblock %}