{% extends "::baseCharisma.html.twig" %}
{% block title %}Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Registrar/Imprimir Tarjetas de Crédito</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i>Clientes</h2>
		</div>
		<div class="box-content">
			<form class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="codigotar">Código de Tarjeta</label>
						<div class="controls">
							<input class="input-xlarge focused" id="codigotar" type="text">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="personal">Personal</label>
						<div class="controls">
							<input class="input-xlarge focused" id="personal" name="personal" type="text">
							<button id="buscar-personal" type="button" class="btn btn-info" style="margin-left: 15px;">Buscar</button>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="cliente">Cliente</label>
						<div class="controls">
							<input class="input-xlarge focused" id="cliente" name="cliente" type="text">
							<button id="buscar-cliente" type="button" class="btn btn-info" style="margin-left: 15px;">Buscar</button>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="monto">Monto</label>
						<div class="controls">
							<input class="input-xlarge focused" id="monto" name="monto" type="text">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="cliente">Vista Previa</label>
						<div class="controls">
							<figure>
								<img src="tarjeta.jpg" alt="Tarjeta">
							</figure>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Registrar</button>
						<button class="btn" >Imprimir</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}