{% extends "::baseCharisma.html.twig" %}
{% block title %}Reporte de Ingresos y Egresos por Día - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_ingregr_dia')}}">Reporte de Zonas y Clientes/Zona</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Reporte de Zonas</h2>
			<div class="box-icon">
				<!-- a href="#" class="btn btn-registrar btn-round" alt="Registrar Cliente"><i class="icon-plus"></i></a>
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
			<table class="table table-bordered">
			  <thead>
				  <tr>
					  <th>ID</th>
					  <th>Zona</th>
					  <th>Encargado</th>
					  <th>Nro de Clientes</th>
				  </tr>
			  </thead>   
			  <tbody>
				<tr>
					<td>David R</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<span class="label label-success">Active</span>
					</td>
				</tr>
				<tr>
					<td>Chris Jack</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<span class="label label-success">Active</span>
					</td>
				</tr>
				<tr>
					<td>Jack Chris</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<span class="label label-success">Active</span>
					</td>
				</tr>
				<tr>
					<td>Muhammad Usman</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<span class="label label-success">Active</span>
					</td>
				</tr>
				<tr>
					<td>Sheikh Heera</td>
					<td class="center">2012/02/01</td>
					<td class="center">Staff</td>
					<td class="center">
						<span class="label label-important">Banned</span>
					</td>
				</tr>
				<tr>
					<td>Helen Garner</td>
					<td class="center">2012/02/01</td>
					<td class="center">Staff</td>
					<td class="center">
						<span class="label label-important">Banned</span>
					</td>
				</tr>
				<tr>
					<td>Saruar Ahmed</td>
					<td class="center">2012/03/01</td>
					<td class="center">Member</td>
					<td class="center">
						<span class="label label-warning">Pending</span>
					</td>
				</tr>
				<tr>
					<td>Ahemd Saruar</td>
					<td class="center">2012/03/01</td>
					<td class="center">Member</td>
					<td class="center">
						<span class="label label-warning">Pending</span>
					</td>
				</tr>
				<tr>
					<td>Habib Rizwan</td>
					<td class="center">2012/01/21</td>
					<td class="center">Staff</td>
					<td class="center">
						<span class="label label-success">Active</span>
					</td>
				</tr>
				<tr>
					<td>Rizwan Habib</td>
					<td class="center">2012/01/21</td>
					<td class="center">Staff</td>
					<td class="center">
						<span class="label label-success">Active</span>
					</td>
				</tr>
			  </tbody>
		  </table>
		</div>
		<div class="box-header well" data-original-title>
			<h2>Reporte de Clientes/Zonas</h2>
		</div>
		<div class="box-content">
			<table class="table table-bordered">
			  <thead>
				  <tr>
					  <th>ID</th>
					  <th>Nombre</th>
					  <th>Apellido</th>
				  </tr>
			  </thead>   
			  <tbody>
				<tr>
					<td>David R</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
				</tr>
				<tr>
					<td>Chris Jack</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
				</tr>
				<tr>
					<td>Jack Chris</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
				</tr>
				<tr>
					<td>Muhammad Usman</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
				</tr>
				<tr>
					<td>Sheikh Heera</td>
					<td class="center">2012/02/01</td>
					<td class="center">Staff</td>
				</tr>
				<tr>
					<td>Helen Garner</td>
					<td class="center">2012/02/01</td>
					<td class="center">Staff</td>
				</tr>
				<tr>
					<td>Saruar Ahmed</td>
					<td class="center">2012/03/01</td>
					<td class="center">Member</td>
				</tr>
				<tr>
					<td>Ahemd Saruar</td>
					<td class="center">2012/03/01</td>
					<td class="center">Member</td>
				</tr>
				<tr>
					<td>Habib Rizwan</td>
					<td class="center">2012/01/21</td>
					<td class="center">Staff</td>
				</tr>
				<tr>
					<td>Rizwan Habib</td>
					<td class="center">2012/01/21</td>
					<td class="center">Staff</td>
				</tr>
			  </tbody>
		  </table>
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}