
			<div class="box-header well" data-original-title>
				<h2>RESUMEN DE LA VENTA</h2>
			</div>
			<div class="box-content">
			<div class="form-horizontal"">
				<fieldset>
					<table class="table table-bordered">
						<tr>
							<td style="width: 25%;"><strong>Cliente</strong></td>
							<td id="clienteR" colspan="3" style="width: 75%;"></td>
						</tr>
						<tr>
							<td style="width: 25%;"><strong>Dirección</strong></td>
							<td id="direccionR" style="width: 25%;"></td>
							<td style="width: 25%;"><strong>Fec. Emisión</strong></td>
							<td id="fechaR" style="width: 25%;"></td>
						</tr>
						<tr>
							<td><strong>Vendedor</strong></td>
							<td id="vendedorR"></td>
							<td><strong>Tipo de Pago</strong></td>
							<td id="forma_pagoR"></td>
						</tr>
					</table>
					<!-- TABLA DE PRODUCTOS POR COMPRAR aqui -->
					<table id="tabla_resumen_productos" class="table table-striped table-bordered">
						<thead >
							  <tr>
								  <th style="width: 25%;">Código</th>
								  <th style="width: 25%;">Producto</th>
								  <th style="width: 25%;">Cantidad</th>
								  <th style="width: 25%;">Valor ó Precio</th>
							  </tr>
						</thead>
					</table>
					<!-- END TABLA DE PRODUCTOS -->
					<div class="row-fluid">
						<div class="span6">
						</div>
						<div class="span6">
							<table class="table table-bordered">
								<tr>
									<td style="width: 50%;"><strong>Subtotal</strong></td>
									<td id="subtotalR" style="width: 50%;"></td>
								</tr>
								<tr>
									<td><strong>Descuento</strong></td>
									<td id="descuentoR"></td>
								</tr>
								<tr>
									<td><strong>IGV</strong></td>
									<td id="tipo_igvR"></td>
								</tr>
								<tr>
									<td><strong>Total (S/.)</strong></td>
									<td id="totalR"></td>
								</tr>
								<tr id="resumen_dolares">
									<td><strong>Total ($.)</strong></td>
									<td id="totalDo"></td>
								</tr>
							</table>
							<br>
							<div id="resume-credito">
							<table class="table table-striped table-bordered">
								<tr>
									<td style="width: 50%;"><strong>A cuenta</strong></td>
									<td id="amortizacionR" style="width: 50%;"></td>
								</tr>
								<tr>
									<td><strong>Saldo</strong></td>
									<td id="saldoR"></td>
								</tr>
							</table>
							</div>
							<!-- div class="control-group">
								<label class="control-label">Importe</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;" id="importeR"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Vuelto</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;" id="vueltoR"></span>
								</div>
							</div -->
						</div>
						<!-- div class="span6">
							<div class="control-group">
								<label class="control-label">Tipo moneda</label>
								<div class="controls">
								<span class="help-inline" style="margin-top:5px;" id="tipo_monedaR"></span>
								</div>
							</div>
							<div id="cuotas_block" class="control-group" style="display:none">
								<label class="control-label">N° Cuotas</label>
								<div class="controls">
									<div class="input-prepend input-append">
											<input class="input-xlarge focused " id="num_cuotasR"><span class="add-on">x 0.00 S/.</span>
									</div>
								</div>
							</div>
						</div -->
					</div>
		            <div>
	                	<a to_position='2' id='back_to_detalle' href="#" class="btn btn-success"><i class="icon icon-white icon-arrowthick-w"></i> Atrás</a>
	                    <a href="#" id="finalizar_venta" class="btn btn-primary" style="float: right;"><i class="icon icon-white icon-cart"></i> Finalizar</a>
	                </div>
	        	</fieldset>
			</div>
			</div><!--/span-->