
			<div class="box-header well" data-original-title>
				<h2>Resumen de Venta</h2>
			</div>
			<div class="box-content">
			<div class="form-horizontal"">
				<div class="control-group" align="center">
					<label class="control-label">DICARS SAC</label>									
				</div>
				<div class="control-group">
					<label class="control-label">RUC</label>
					<div class="controls">
					<span class="help-inline" style="margin-top:5px;" id="ruc">11900678543</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Fecha</label>
					<div class="controls">
					<span class="help-inline" style="margin-top:5px;" id="fecha"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Serie</label>
					<div class="controls">
					<span class="help-inline" style="margin-top:5px;" id="serie"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Nro Boleta</label>
					<div class="controls">
					<span class="help-inline" style="margin-top:5px;" id="ruc"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="cliente">Cliente</label>
					<div class="controls">
					<span class="help-inline" style="margin-top:5px;" id="cliente">SAM GARABATEITO</span>
					</div>
				</div>				
				
				<div class="control-group">
					<label class="control-label" for="forma_pago">Tipo de Pago</label>
					<div class="controls">
					<span class="help-inline" style="margin-top:5px;" id="forma_pago">CONTADO</span>
					</div>
				</div>   
				<div class="control-group">
					<label class="control-label" for="tipo_moneda">Tipo moneda</label>
					<div class="controls">
					<span class="help-inline" style="margin-top:5px;" id="tipo_moneda">SOLES</span>
					</div>
				</div>
				
				<!-- TABLA DE PRODUCTOS POR COMPRAR aqui -->
				<div class="controls-group">
				<table id="tabla_resumen_productos" class="table table-striped table-bordered" style="width: 310px;">
					<thead >
						  <tr>
						  <th style="width: 180px;">Producto</th>
						  <th style="width: 50px;">Cantidad</th>
						  <th style="width: 80px;">Valor</th>
						  </tr>
					</thead>
				</table>
				</div>
				<!-- END TABLA DE PRODUCTOS -->
				
				<div class="control-group">
					<label class="control-label" for="subtotal">Monto</label>
					<div class="controls">
						<span class="help-inline" style="margin-top:5px;" id="monto">150</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="descuento">Descuento</label>
					<div class="controls">
						<span class="help-inline" style="margin-top:5px;" id="descuento"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="subtotal">Subtotal</label>
					<div class="controls">
						<span class="help-inline" style="margin-top:5px;" id="subtotal"></span>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="tipo_igv">IGV</label>
					<div class="controls">
						<span class="help-inline" style="margin-top:5px;" id="tipo_igv"></span>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="total">Total</label>
					<div class="controls">
						<span class="help-inline" style="margin-top:5px;" id="total"></span>
					</div>
				</div>		
				
				<div class="control-group">
					<label class="control-label" for="amortizacion">A cuenta</label>
					<div class="controls">
						<span class="help-inline" style="margin-top:5px;" id="amortizacion"></span>
					</div>
				</div>
											
				<div class="control-group">
					<label class="control-label" for="saldo">Saldo</label>
					<div class="controls">
						<span class="help-inline" style="margin-top:5px;" id="saldo"></span>
					</div>
				</div>
				
				<div id="cuotas_block" class="control-group" style="display:none">
					<label class="control-label" for="num_cuotas">N° Cuotas</label>
					<div class="controls">
						<div class="input-prepend input-append">
								<input class="input-xlarge focused " name="num_cuotas" id="num_cuotas" type="number" min="2" value="2" required><span class="add-on">x 0.00 S/.</span>
						</div>
					</div>
				</div>
	                    <p>
                        	<a to_position='2' id='back_to_detalle' href="#">atras</a>
                        	<a href="#" id="finalizar_venta">Finalizar</a>
                    	</p>
			</div>
			</div><!--/span-->