<button id="success" class="btn btn-primary noty" data-noty-options='{"text":"Lo hiciste bien!","layout":"top","type":"information"}'>
	<i class="icon-bell icon-white"></i> Top Full Width
</button>
<button id="error" class="btn btn-primary noty" data-noty-options='{"text":"Hay un error :(","layout":"top","type":"error"}'>
	<i class="icon-bell icon-white"></i> Top Full Width
</button>