<div class="modal hide fade" id="modalRegistro">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Registrar Producto</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<fieldset>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Código</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Talla</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Serie</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Marca</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="region">Tipo</label>
				<div class="controls">
				  <select id="region" data-rel="chosen">
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
					<option>Option 4</option>
					<option>Option 5</option>
				  </select>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Característica</label>
				<div class="controls">
				  <textarea class="input-xlarge" rows="2" cols=""></textarea>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="provincia">Subir Imágen</label>
				<div class="controls">
					<input type="file" class="input-xlarge">
				</div>
			  </div>
			  <div class="control-group">
			  	<div class="controls">
					<figure>
						<img src="tarjeta.jpg" alt="Tarjeta">
					</figure>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="distrito">Precio Costo</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <h3>Precio de venta al Contado</h3>
			  <div class="control-group">
				<label class="control-label" for="zona">Mínimo</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="zona">Regular</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="zona">Máximo</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <h3>Precio de venta al Crédito</h3>
			  <div class="control-group">
				<label class="control-label" for="zona">Mínimo</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="zona">Regular</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="zona">Máximo</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
			  	<label class="control-label">Código de Barras</label>
			  	<div class="controls">
					<figure>
						<img src="tarjeta.jpg" alt="Tarjeta">
					</figure>
				</div>
			  </div>
			  <div class="form-actions">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancelar</button>
			  </div>
			</fieldset>
		  </form>
	</div>
	<!-- div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		<a href="#" class="btn btn-primary">Guardar</a>
	</div -->
</div>