		<div class="modal hide fade" id="modalRegistroProveedores">
			<div class="modal-header">
				<h3>Registrar Proveedor</h3>
			</div>
			<form id="RegistrarProveedorForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_registrar_proveedor') }}">
				<div class="modal-body">
					<fieldset>
					  <div class="control-group">
						<label class="control-label" for="ruc">RUC</label>
						<div class="controls">
						  <input class="input-xlarge focused" required pattern="|^\d{11}$|" title="El RUC debe tener 11 dígitos y debe ser sólo números" maxlength="11" id="ruc" name="ruc" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="razonsocial">Razón Social</label>
						<div class="controls">
						  <input class="input-xlarge focused" type="text" required pattern="|^[a-zA-Z ñÑáéíóúüç.0-9]*$|" title="Este campo debe ser sólo letras" id="razonsocial" name="razonsocial" >
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="ccorriente">Cuenta Corriente</label>
						<div class="controls">
						  <input class="input-xlarge focused" pattern="|^([0-9]+\s*)+$|" id="ccorriente" name="ccorriente" type="text" maxlength="20">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="direccion">Dirección</label>
						<div class="controls">
						  <input class="input-xlarge focused" required pattern="|^([a-zA-ZñÑáéíóúüç0-9]+\s*)+$" id="direccion" name="direccion" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="telefono">Teléfono</label>
						<div class="controls">
						  <input class="input-xlarge focused" placeholder="999999999" required pattern="|^\d{9}$|" maxlength="9" id="telefono" name="telefono" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
						  <input class="input-xlarge focused" placeholder="example@domain.com" title="Debe ingresar un formato de email correcto" required id="email" name="email" type="email">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="paginaweb">Página Web</label>
						<div class="controls">
						  <input class="input-xlarge focused" placeholder="mywebsite.com" maxlength="150" id="paginaweb" name="paginaweb" type="text">
						</div>
					  </div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-cancelarprov" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary ">Guardar</button>
						
				</div>
			</form>
		</div> 