<div class="modal hide fade" id="modalRegistro">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Registrar Producto</h3>
	</div>
	<div class="modal-body">
		<form id="RegistrarProductoForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_registrar_producto') }}">
			<fieldset>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Código</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" name="codigo" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Talla</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" name="talla" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Serie</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" name="serie" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="focusedInput">Marca</label>
				<div class="controls">
				  <input class="input-xlarge focused" id="focusedInput" name="marca" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="tipo">Tipo</label>
				<div class="controls">
				  <select id="tipo" name="tipo" data-rel="chosen">
					<option value='1'>Option 1</option>
					<option value='2'>Option 2</option>
					<option value='3'>Option 3</option>
					<option value='4'>Option 4</option>
					<option value='5'>Option 5</option>
				  </select>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="descripcion">Descripción</label>
				<div class="controls">
				  <textarea class="input-xlarge" name="descripcion" rows="2" cols=""></textarea>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="imagen">Subir Imágen</label>
				<div class="controls">
					<input type="file" class="input-xlarge" name="imagen">
				</div>
			  </div>
			  <div class="control-group">
			  	<div class="controls">
					<figure>
						<img src="tarjeta.jpg" alt="Tarjeta">
					</figure>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="preciocosto">Precio Costo</label>
				<div class="controls">
				  <input class="input-xlarge focused" name="preciocosto" id="focusedInput" type="text">
				</div>
			  </div>
			  <h3>Precio de venta al Contado</h3>
			  <div class="control-group">
				<label class="control-label" for="minimocontado">Mínimo</label>
				<div class="controls">
				  <input class="input-xlarge focused" name="minimocontado" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="regularcontado">Regular</label>
				<div class="controls">
				  <input class="input-xlarge focused" name="regularcontado" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="maximocontado">Máximo</label>
				<div class="controls">
				  <input class="input-xlarge focused" name="maximocontado" id="focusedInput" type="text">
				</div>
			  </div>
			  <h3>Precio de venta al Crédito</h3>
			  <div class="control-group">
				<label class="control-label" for="minimocredito">Mínimo</label>
				<div class="controls">
				  <input class="input-xlarge focused" name="minimocredito" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="regularcredito">Regular</label>
				<div class="controls">
				  <input class="input-xlarge focused" name="regularcredito" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="maximocredito">Máximo</label>
				<div class="controls">
				  <input class="input-xlarge focused" name="maximocredito" id="focusedInput" type="text">
				</div>
			  </div>
			  <div class="control-group">
			  	<label class="control-label">Código de Barras</label>
			  	<div class="controls">
					<figure>
						<img src="tarjeta.jpg" alt="Tarjeta">
					</figure>
				</div>
			  </div>
			  <div class="form-actions">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<button type="reset" class="btn btn-cancelarprov" data-dismiss="modal">Cancelar</button>
			  </div>
			</fieldset>
		  </form>
	</div>
	<!-- div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		<a href="#" class="btn btn-primary">Guardar</a>
	</div -->
</div>