<div class="modal hide fade" id="modalRegistro">
	<div class="modal-header">
		<h3>Registrar Producto</h3>
	</div>
	<form id="RegistrarProductoForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_registrar_producto') }}">
		<div class="modal-body">
			<input id="codigo" name="codigo" type="hidden">
			<fieldset>
			  <div class="control-group">
				<label class="control-label" for="serie">Serie</label>
				<div class="controls">
				  <input maxlength="15" id="serie" name="serie" type="text" pattern='|^[a-zA-Z0-9\-\]+$|' required>
				</div>
			  </div>
			  
			  <div class="control-group">
				<label class="control-label" for="talla">Talla</label>
				<div class="controls">
				  <input required maxlength="15" id="talla" name="talla" type="text" pattern='|^([0-9]+)$|'>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="marca">Marca</label>
				<div class="controls">
				  <select id="marca" name="marca">
				  </select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="categoria">Categoría</label>
				<div class="controls">
				  <select id="categoria" name="categoria">
				  </select>
				</div>
			</div>
				<div class="control-group">
				<label class="control-label" for="tipo">Tipo</label>
				<div class="controls">
				  <select id="tipprod" required name="tipprod">
				  </select>
				</div>
			  	</div>
			  <div class="control-group">
				<label class="control-label" for="descripcion">Descripción</label>
				<div class="controls">
				  <textarea class="input-xlarge" required name="descripcion" maxlength="200" id="descripcion" rows="2" cols=""></textarea>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="imagen">Subir Imágen</label>
				<div class="controls">
					<input type="file" class="input-xlarge" name="imagen" id="imagen">
					<input type="hidden" name="nombrearchivo" id="nombrearchivo" val="">
				</div>
			  </div>
			  <div class="control-group">
			  	<div class="controls">
					<figure>
						<img src="" alt="">
					</figure>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="preciocosto">Precio Costo</label>
				<div class="controls">
				  <input required name="preciocosto" id="preciocosto" min="1" step="0.01" type="number">
				</div>
			  </div>			  
			  <div class="control-group">
				<label class="control-label" for="preciocontado">Precio Contado</label>
				<div class="controls">
				  <input required name="preciocontado" id="preciocontado" min="1" step="0.01" type="number">
				</div>
			  </div>
			  
			  <div class="control-group">
				<label class="control-label" for="preciocredito">Precio Credito</label>
				<div class="controls">
				  <input required name="preciocredito" id="preciocredito" min="1" step="0.01" type="number">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="stockmin">Stock Min</label>
				<div class="controls">
				  <input required maxlength="11" name="stockmin" id="stockmin" min="1" step="1" type="number">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="stockmax">Stock Max</label>
				<div class="controls">
				  <input required maxlength="11" name="stockmax" id="stockmax" min="1" step="1" type="number">
				</div>
			  </div>					  
			  <div class="control-group">
				<label class="control-label" for="estado">Estado</label>
				<div class="controls">
			  <select id="estado" required name="estado" data-rel="chosen">
				<option value="1">Habilitado</option>
				<option value="0">Inhabilitado</option>
			  </select>
				</div>
			  </div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<button type="reset" class="btn btn-cancelarprov" data-dismiss="modal">Cancelar</button>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</form>
</div>